### Merging all the Stock Files Together to extract the Close price for Sharpe Ratio Calculations

In [4]:
import os
import pandas as pd

# Set the path to the directory containing the CSV files
directory_path = "../Data Collection & Processing/top25_SP500"

# Get a list of all CSV files in the directory
all_files = [os.path.join(directory_path, file) for file in os.listdir(directory_path) if file.endswith('.csv')]

# Read each CSV file into a DataFrame and store them in a list
df_list = []
for file in all_files:
    symbol = os.path.splitext(os.path.basename(file))[0]  # Extract symbol from filename
    df = pd.read_csv(file)
    df['symbol'] = symbol  # Add 'symbol' column with the stock symbol
    df_list.append(df)

# Concatenate all DataFrames in the list into a single DataFrame
df_merged = pd.concat(df_list, ignore_index=True)

# Save the merged DataFrame to a new CSV file
output_file = "../Data Collection & Processing/merged_top25_sp500_stock_data.csv"
df_merged.to_csv(output_file, index=True)  # Index will be written as 'date' column

In [6]:
# Read the merged stock data CSV file
merged_top25_sp500_stocks_df = pd.read_csv(
    '../Data Collection & Processing/merged_top25_sp500_stock_data.csv',
    index_col='Date', 
    infer_datetime_format=True,
    parse_dates=True
)

# Drop unnecessary columns
merged_top25_sp500_stocks_df = merged_top25_sp500_stocks_df.drop(['Unnamed: 0'], axis=1)

merged_top25_sp500_stocks_df.info()

display(merged_top25_sp500_stocks_df.head())
display(merged_top25_sp500_stocks_df.tail())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 62925 entries, 2014-02-11 to 2024-02-09
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       62925 non-null  float64
 1   High       62925 non-null  float64
 2   Low        62925 non-null  float64
 3   Close      62925 non-null  float64
 4   Adj Close  62925 non-null  float64
 5   Volume     62925 non-null  int64
 6   symbol     62925 non-null  object
dtypes: float64(5), int64(1), object(1)
memory usage: 3.8+ MB

,Open,High,Low,Close,Adj Close,Volume,symbol
Date,,,,,,,
2014-02-11,18.950357,19.205357,18.910713,19.141430,16.860064,282256800,AAPL
2014-02-12,19.176786,19.270000,19.044287,19.139999,16.858810,308100800,AAPL
2014-02-13,19.094999,19.458929,19.078571,19.443930,17.126516,307398000,AAPL
2014-02-14,19.373928,19.499287,19.328930,19.428213,17.112673,272924400,AAPL
2014-02-18,19.500000,19.685356,19.486071,19.499643,17.175587,260251600,AAPL

,Open,High,Low,Close,Adj Close,Volume,symbol
Date,,,,,,,
2024-02-05,101.449997,102.379997,100.500000,101.550003,100.614922,17190900,XOM
2024-02-06,102.070000,103.040001,101.570000,102.250000,101.308472,13347900,XOM
2024-02-07,102.250000,102.730003,101.180000,102.220001,101.278748,13826800,XOM
2024-02-08,102.339996,104.419998,102.110001,103.970001,103.012634,19636900,XOM
2024-02-09,104.099998,104.839996,101.699997,101.769997,100.832893,20410500,XOM

### Dropping all the columns and creating a new CSV file with the Date and Close price for each Stock

In [10]:
csv_path = "../Data Collection & Processing/merged_top25_sp500_stock_data.csv"
df = pd.read_csv(csv_path,index_col='Date',
    parse_dates=True,
    infer_datetime_format=True)
df = df.drop(columns=['Unnamed: 0', 'Open','High','Low', 'Close','Volume'])
df = df.pivot( columns='symbol',values='Adj Close')
display(df)
df.to_csv('top25_sp500_stocks.csv')

symbol,AAPL,ABBV,ADBE,AMZN,AVGO,BRK-B,COST,CRM,CVX,GOOG,...,MA,META,MRK,MSFT,NVDA,PG,TSLA,UNH,V,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2014-02-11,16.860064,32.610191,63.970001,18.089500,43.973644,113.610001,92.512230,61.150120,73.842224,29.643389,...,71.525803,64.781265,38.809250,31.241472,3.832528,59.206329,13.108000,60.371780,51.734154,58.954880
2014-02-12,16.858810,33.201187,65.139999,17.462500,44.632442,113.300003,92.617081,61.399796,73.481468,29.556465,...,71.319244,64.381683,38.321518,31.493614,3.969318,58.192520,13.021333,60.046913,52.256317,59.110641
2014-02-13,17.126516,33.063286,67.040001,17.860001,44.738464,114.699997,93.423767,63.047646,73.796303,29.885483,...,71.844978,67.258636,38.391193,31.611290,4.094319,58.425339,13.308667,60.876156,52.228348,59.337795
2014-02-14,17.112673,33.312828,68.339996,17.867500,43.981213,114.949997,93.657715,62.718071,74.432556,29.957710,...,72.652359,67.018890,38.628109,31.619684,4.224034,59.626892,13.215333,62.850941,52.682903,61.077114
2014-02-18,17.175587,33.792191,68.660004,17.682501,44.200809,114.730003,93.060738,63.646858,73.927498,30.158957,...,72.746231,67.228676,38.802284,31.687429,4.221676,58.553017,13.580000,63.115932,52.696884,61.051136
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-02-05,187.440811,169.675400,630.500000,170.309998,1237.828369,390.760010,711.159973,287.734131,150.685760,144.929993,...,456.128235,458.923065,125.384666,404.901245,693.287476,158.210007,181.059998,500.985046,275.067078,100.614922
2024-02-06,189.058762,171.686615,607.140015,169.149994,1217.465088,393.739990,710.789978,285.457092,150.705536,145.410004,...,459.863037,454.238037,126.080246,404.741516,682.197998,158.960007,185.100006,508.664795,276.244904,101.308472
2024-02-07,189.168625,173.390701,615.849976,170.529999,1251.729248,397.660004,719.780029,288.463196,150.487915,146.679993,...,461.271088,469.092285,126.666534,413.285706,700.957092,159.119995,187.580002,517.350586,278.869995,101.278748
2024-02-08,188.080017,173.172729,615.859985,169.839996,1269.354126,397.489990,724.159973,291.569153,152.397079,147.220001,...,457.626160,469.501862,125.811951,413.345612,696.377319,158.639999,189.559998,518.047852,275.779999,103.012634
2024-02-09,188.850006,172.469315,627.210022,174.449997,1277.997314,398.359985,723.400024,290.919952,149.409668,150.220001,...,457.246674,467.613831,124.659264,419.773712,721.296204,157.419998,193.570007,516.185120,276.429993,100.832893